.main {
  width: 600px;
  margin: auto;
  height: 800px;
  display: flex;  
  border: 0.5rem solid white;
  border-radius: 1rem;
  flex-direction: column;
  gap: 0.5rem; 
  overflow: hidden;
}

.message-title {
  border-bottom: 0.5rem solid white;
  margin: 0;
}

.message-list{
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: auto;
}

.message-form {
  display: flex;
  height: 2rem;
  background-color: rebeccapurple;
  border-top: 0.5rem solid white;

}

.message-input{
   flex: 1 1 auto;
   background-color: #242424;
   padding: 0.5rem 1rem;
   color: white;
   border: none;
}
.message-item{
  border: 0.25rem solid white;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.message-send__btn {
  width: 5rem;
  background-color: #242424;
  border: none;
  border-left: 0.25rem solid white;
  cursor: pointer;
}

.message-send__btn:hover {
  background-color: white;
  color: #242424;
}